.dotspaces-indicator {
  margin-left: 5px;
  margin-right: 5px;
}

.dotspaces-indicator:hover {
  color: gray; 
}

.dotspaces-indicator.dynamic {
  margin-left: 8px;
  margin-right: 8px;
}

.dotspaces-indicator.active.dynamic {
  margin-left: 6px;
  margin-right: 6px;
}